<html>
<head>
    <title>Welcome to host {{ansible_hostname}}!</title>
</head>
<body>
    <h1>
        Welcome to host {{ansible_hostname}}!
    </h1>
    <br/>
    <p>
        <img src="cloud.png" alt="cloud image"/>
    </p>
</body>
</html>
